.page-header
  %h1
    - if current_user.image
      = link_to image_tag(current_user.image), "http://www.twitter.com/#{current_user.nickname}"
    ="@#{current_user.nickname}"

%h2 My dares
%table
  %tbody
    - current_user.owning_dares.each do |dare|
      %tr
        %td
          - if dare.owner.image
            = link_to image_tag(dare.owner.image), "http://www.twitter.com/#{dare.owner.nickname}"
          = twitter_link dare.owner.nickname
          dared
          = twitter_link dare.target
          to
          = dare.text
        %td
          =link_to "<- View", dare
%h2 Dared
%table
  %tbody
    - current_user.received_dares.each do |dare|
      %tr
        %td
          - if dare.owner.image
            = link_to image_tag(dare.owner.image), "http://www.twitter.com/#{dare.owner.nickname}"
          = twitter_link dare.owner.nickname
          dared
          = twitter_link dare.target
          to
          = dare.text
        %td
          =link_to "<- View", dare