.row
  .span8.offset2
    %center
      = form_for @dare, url: dares_path, method: :post do |f|
        .row
          %span I dare&nbsp;
          %span
            = f.text_field :target, style: 'width: 340px;', placeholder: '@nickname/#hashtag'
            .field-decoration
          %br
          %br
        .row
          %span= "to"
          %br
          %br
          %span
            = f.text_field :text, style: 'width: 100%;', label: false, placeholder: 'do something . . .'
            .field-decoration
        .row
          .form-actions
            = f.submit 'Dare'

        .row
          - unless @recent_dares.empty?
            %h1 Recent dares
            %table
              %tbody
                - @recent_dares.reverse.each do |dare|
                  %tr
                    %td
                      - if dare.owner.image
                        = link_to image_tag(dare.owner.image), "http://www.twitter.com/#{dare.owner.nickname}"
                      = twitter_link dare.owner.nickname
                      dared
                      = twitter_link dare.target
                      to
                      = dare.text
                    %td
                      =link_to "<- View", dare
