.row
  .span8.offset2
    %center
      = form_for @dare, url: dares_path, method: :post do |f|
        .row
          %span I dare&nbsp;
          %span
            = f.fields_for :dared_user do |dared_user_field|
              = dared_user_field.text_field :nickname, style: 'width: 360px;', placeholder: '@nickname'
            .field-decoration
          %br
          %br
        .row
          %span= "to"
          %br
          %br
          %span
            = f.text_field :text, style: 'width: 100%;', label: false, placeholder: 'do something . . .'
            .field-decoration
        .row
          .form-actions
            = f.submit 'Dare'

  .span8.offset2
    %center
      .row
        - unless @recent_dares.empty?
          %h1 Recent dares
          %table
            %tbody
              - @recent_dares.each do |dare|
                %tr
                  %td= dare.text
                  %td= dare.dared_user.nickname
