.page-header
  %h3
    - if @dare.owner.image
      .pull-left{ style: 'margin-right: 10px;'}
        = image_tag @dare.owner.image
    - if @dare.dared_user
      .pull-right{ style: 'margin-left: 10px;'}
        = image_tag @dare.dared_user.image

    = twitter_link @dare.owner.nickname
    dared
    = twitter_link @dare.target
    to
    = @dare.text
.row
  .span12
    %h2
      Current state
      %br
      - Dare::STATES.keys[1..-1].each do |k|
        - if @dare.state == Dare::STATES[k]
          = pretty_state(Dare::STATES[k], true)
        - else
          = pretty_state(Dare::STATES[k])

%center
  = render "disqus/disqus"
