.page-header
  %h3
    - if @dare.owner && @dare.owner.image
      .pull-left{ style: 'margin-right: 10px;'}
        = image_tag @dare.owner.image
    - if @dare.dared_user && @dare.dared_user.image
      .pull-right{ style: 'margin-left: 10px;'}
        = image_tag @dare.dared_user.image
    %center
      = twitter_link @dare.owner.nickname
      dared
      = twitter_link @dare.target
      to
      = @dare.text
.row
  .span8
    - if current_user == @dare.owner && @dare.state == Dare::STATES[:accepted]
      .row.clearfix
        .span8
          = form_for(@dare, :action => :update) do |f|
            = raw "<input type='hidden' name='dare[state]' value='#{Dare::STATES[:completed]}'></hidden>"
            %br
            = f.submit "Completed", :class => "btn btn-success btn-large"
      .row.clearfix
        .span8
          = form_for(@dare, :action => :update) do |f|
            = raw "<input type='hidden' name='dare[state]' value='#{Dare::STATES[:failed]}'></hidden>"
            %br
            = f.submit "Failed", :class => "btn btn-danger btn-large"

    - elsif @dare.state == Dare::STATES[:new]
      .row.clearfix
        .span8
          = form_for(@dare, :action => :update) do |f|
            = raw "<input type='hidden' name='dare[state]' value='#{Dare::STATES[:accepted]}'></hidden>"
            %br
            - if current_user
              - message = "If you are #{@dare.target}, click here to accept the dare!"
            - else
              - message = "If you are #{@dare.target}, login to accept the dare!"
            - if @dare.target.starts_with?("#")
              - if current_user
                - message = "Accept the dare!"
              - else
                - message = "Login to accept the dare!"
            = f.submit message, :class => "btn btn-large"
    %h2
      - if @dare.dared_user
        - if @dare.dared_user.image
          = link_to image_tag(@dare.dared_user.image), "http://www.twitter.com/#{@dare.dared_user.image}"
        = twitter_link @dare.dared_user.nickname
        - if @dare.state == Dare::STATES[:completed]
          succeded to
        - elsif @dare.state == Dare::STATES[:failed]
          failed to
        - else
          is going to
        = @dare.text
      - else
        No one has accepted this dare yet

  .span4
    - if current_user && ![2,3].include?(@dare.state)
      .page-header
        .clearfix.dare-votes-well
          = link_to do_path(id: @dare.id), remote: true, class: "vote-do btn btn-small btn-success" do
            %i.icon-thumbs-up.icon-white
            %span= "Do it!"
            %span.votes-count= @dare.likes.size
          = link_to dont_path(id: @dare.id), remote: true, class: "vote-dont btn btn-small btn-danger" do
            %i.icon-thumbs-down.icon-white
            %span= "No, don't!"
            %span.votes-count= @dare.dislikes.size

    .row
      .span4
        %h6
          Current state
        - Dare::STATES.keys[1..-1].each do |k|
          - if @dare.state == Dare::STATES[k]
            = pretty_state(Dare::STATES[k], true)
          - else
            = pretty_state(Dare::STATES[k])

%br
%br
%center
  = render "disqus/disqus"
