.page-header
  %h3
    .pull-left{ style: 'margin-right: 10px;'}
      = image_tag @dare.owner.image
    - if @dare.dared_user
      .pull-right{ style: 'margin-left: 10px;'}
        = image_tag @dare.dared_user.image

    = twitter_link @dare.owner.nickname
    dared
    = twitter_link @dare.target
    to
    = @dare.text
.row
  .span12
    = pretty_state(@dare.state)
