.row
  .span12
    = link_to root_path do
      = image_tag "banner.png"

.navbar.clearfix
  .pull-right
    - if current_user
      .btn-group
        %a.btn.dropdown-toggle{ href: '#', data: { href: '#', toggle: 'dropdown' } }
          .pull-left{ style: 'margin-right: 5px;' }
            = image_tag current_user.image, style: 'width: 20px;', class: 'img-rounded'
          = current_user.nickname
          %span.caret
        %ul.dropdown-menu{ role: :menu, 'aria-labelledby' => :user }
          %li= link_to 'Dashboard', dashboard_index_path
          %li.divider
          %li= link_to 'Log out', logout_path
    - else
      = link_to "/auth/twitter", class: 'btn' do
        %i.icon.icon-lock
        = "Sign In"
