!!! 5
%html
  %head
    %title= "Tweet And Dare - RailsRumble"
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
    %link{ :rel => "icon", :type => "image/png", :href => "favicon.png"}

    // GOOGLE
    - unless Rails.env.development?
      = analytics_init :local => Rails.env.development?
  %body
    %script{:src => "http://s0.railsrumble.com/banner.js", :type => "text/javascript"}
    %div.container
      = render "layouts/header"
      = render "layouts/notices"
      = yield
      = render "layouts/footer"
