!!! 5
%html
  %head
    %title= "Dare - RailsRumble"
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags

    // GOOGLE
    //= analytics_init :local => Rails.env.development?

  %body
    %div.container
      = render "layouts/header"
      = yield
      = render "layouts/footer"
